<template name="header">
    <nav>
        <div class="nav-wrapper pink darken-1">
          <div class="row">
            <div class="col s12">
              <a href="/" class="brand-logo">RECOD DL Monitor</a>
            </div>
          </div>
        </div>
    </nav>
    <br>
</template>
