<template name="search">
    <nav>
        <div class="nav-wrapper blue">
            <form>
                <div class="input-field">
                    <input type="search" id="search-box" name="search-box" placeholder="Laboratory" />
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</template>