<template name="runs">
    <div class="row">
        <div class="col s12 m6 l3">
            <form>
                <div class="input-field">
                    {{> EasySearch.Input index=runsIndex attributes=inputAttributes}}
                </div>
            </form>
        </div>

        <div class="col s12">
            <ul class="collapsible" data-collapsible="expandable">
                {{#EasySearch.Each index=runsIndex}}
                    <li>
                        <div class="collapsible-header {{#if archived}}grey-text{{/if}}">
                            <span title="{{stringify host}}">{{host.hostname}}</span>@{{experiment.name}}
                            <small>
                                started at {{localDate start_time}}{{#if stop_time}} and
                                {{#if isRunning this}}it has been running{{else}}ran{{/if}}
                                for {{timeTaken start_time stop_time heartbeat}} minutes{{/if}}.
                            </small>

                            <div class="card-action right">
                                <div class="chip">
                                    <i class="material-icons {{colorForStatus status}}-text chip-icon"
                                       title="{{status}}">{{iconForStatus status}}</i>
                                    {{lower status}}
                                </div>
                                {{#if info.accuracy.train}}
                                    <div class="chip">
                                        {{prettyScore info.accuracy.train}}% in train
                                    </div>
                                {{/if}}
                                {{#if info.accuracy.test}}
                                    <div class="chip">
                                        {{prettyScore info.accuracy.test}}% in test
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="collapsible-body grey-text text-darken-3 grey lighten-4">
                            <span class="section-title">configuration</span>
                            <pre class="code config white">{{stringify config}}</pre>

                            {{#if hasInfo this}}
                                <span class="section-title">info</span>
                                <pre class="code white">{{stringify info}}</pre>
                            {{/if}}

                            <span class="section-title">output</span>
                            <pre class="code captured-output white">{{captured_out}}</pre>

                            {{#if fail_trace}}
                                <span class="section-title">fail trace</span>

                                <pre class="code fail-trace white">{{cleanFailTrace fail_trace}}</pre>
                            {{/if}}
                            <div class="run-actions-panel right-align">
                                {{#if archived}}
                                    <a href="#" class="btn btn-floating btn-flat archive-run"
                                       title="Unarchive experiment"
                                    ><i class="material-icons grey-text text-darken-1">unarchive</i></a>
                                {{else}}
                                    <a href="#" class="btn btn-floating btn-flat archive-run"
                                       title="Archive experiment"
                                    ><i class="material-icons grey-text text-darken-1">archive</i></a>
                                {{/if}}
                            </div>
                        </div>
                    </li>
                {{/EasySearch.Each}}
            </ul>
        </div>
        <div class="col s12 right-align">
            {{> EasySearch.LoadMore index=runsIndex attributes=loadMoreBtnAttributes}}
        </div>
        {{#EasySearch.IfNoResults index=runsIndex}}
            <div class="col s12 no-results">No results found!</div>
        {{/EasySearch.IfNoResults}}
    </div>
</template>
