.section-title {
    font-weight: bold;
    margin-top: .5em;
    margin-left: 1.5em;
}

.code {
    padding: .5em .5em;
    /*color: #de4f4f;*/
    margin: .5em 2em;
    line-height: 1.1em;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    border: 1px solid #ececec;
    font-size: .7em;
}

.captured-output, .fail-trace, .config {
    max-height: 30em;
}

.chip-icon {
    margin-top: -6px;
}

.fix-icon-button {
    margin-top: -4px;
    margin-left:3px;
    text-align: center;
}

.striked {
    text-decoration: line-through;
}

.run-actions-panel {
    padding-top: .5em;
    padding-right: 1em;
}

.collapsible-body {
    padding-top:1em;
    padding-bottom: .5em;
}