<template name="monitor">
    <div class="row">
        {{#each node in machines}}
            <div id="node-{{node.label}}" class="col s12 m6 l2">
                <div class="card node-container">
                    <div class="activator">
                        <div class="row">
                            {{#if node.info.resources}}
                                {{#each usableResources node}}
                                    <div class="col s12 resource-title">{{prettyResource label}}
                                    </div>
                                    {{#if instances}}
                                        {{#each item in instances}}
                                            <div class="col s12">
                                                <small>{{item.utilization}}%</small>
                                                <small>{{fixed1 item.mem_util}}/{{fixed1 item.mem_total}} GB</small>
                                                {{#if item.temperature}}
                                                    <small>{{item.temperature}} &deg;C</small>
                                                {{/if}}
                                            </div>
                                            <div class="col s12">
                                                <div class="progress grey lighten-2">
                                                    <div class="determinate {{color item.utilization}} utilization-bar utilization-bar-{{node.label}}-{{label}}-{{item.id}}"
                                                         style="width: {{item.utilization}}%"></div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}

                                {{#if loggedUsers node}}
                                    <div class="col s12">
                                        <h6 class="resource-title">{{prettyResource 'users'}}</h6>
                                        {{#each loggedUsers node}}
                                            <span class="chip logged-user-container"
                                                  title="{{username}}">{{initialsFromUsername username}}
                                            </span>
                                        {{/each}}
                                    </div>
                                {{/if}}

                                {{#if activeContainers node}}
                                    <div class="col s12 resource-title">
                                        {{prettyResource 'docker'}}
                                    </div>
                                    <div class="col s12">
                                        {{#each activeContainers node}}
                                            <div class="chip" title="{{name}}">{{name}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <span>
                            {{node.label}}</span>

                        <i class="material-icons right">more_vert</i>
                        {{#if not node.is_alive}}
                            <i class="material-icons right"
                               title="Node is not alive. It might be currently unavailable or turned off.">cloud_off</i>
                        {{else}}
                            {{#if node.info.errors}}
                                <i class="material-icons red-text right"
                                   title="{{node.info.errors}}">error</i>
                            {{/if}}
                        {{/if}}
                    </span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{node.label}}<i
                            class="material-icons right">close</i></span>
                        {{#if node.info.errors}}
                            <p>
                                <i class="material-icons red-text left">error</i>
                                {{node.info.errors}}
                            </p>
                        {{/if}}
                        {{#if node.info.resources}}
                            {{#each node.info.resources}}
                                {{#if instances}}
                                    <h5 class="resource-title">{{prettyResource label}}</h5>
                                    <div class="row">
                                        {{#each item in instances}}
                                            <div class="col s12 m6 flat-tile">
                                                {{#each describe item}}
                                                    <strong>{{prettyResourceAttribute key}}:</strong>
                                                    {{value}}<br>
                                                {{/each}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>
