.resource-title {
    margin-top: 1em;
    margin-bottom: .5em;
}

.logged-user-container {
    margin: 0;
}

.flat-tile {
    margin-bottom: .5em;
}

.machine-container {
    margin: 20px;
    width: 100px;
    height: 100px;
    position: relative;
}
