<template name="App_lab">
    <div class="row">
        <div class="col s12">
            <h1>Laboratory</h1>
            <blockquote><small><i>{{randomLeadSentence}}</i></small></blockquote>
        </div>
    </div>

    {{> runs}}
</template>
